<!DOCTYPE html>
<html>
    <body>
        <form action="/pyroxeneFitting" method="POST">
            <label for='ionList'>Give a list of the chemical formula of the ions, each seperated by a comma, no spaces!</label>
            <input type="text" name="ionList" placeholder="La,Yb,Y,Lu,Ce">
            <br>
            <label for='ionList'>Give a list of the cpx/ melt partition coefficients, each seperated by a comma.</label>
            <input type="text" placeholder="0.2,0.01,0.01,0.85" name="partitionCoefficients">
            <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>